@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dracey-dark text-gray-200 font-sans antialiased; 
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-2 bg-dracey-coral text-white rounded-full font-bold shadow-lg hover:shadow-dracey-coral/50 transition-all duration-300 hover:scale-105;
  }
}
